{% extends 'base.html' %}
{% block conteudo %}


    <div class="container">
		<div class="page-header">
			<h1>Produtos</h1>
		</div>
		
		<div class="row">
			<div class="produtos">
				{%for produto in produtos%}
	  		    <div class="thumbnail">
	  				<a href="#">
	  				{% if produto.imagem %}	
	  					<img src="{{produto.imagem.url}}" alt="{{produto.nome_p}}" />
	  				</a>
	  				{% else %}
	  					<img src="static/images/produto-sem-imagem2.png" alt="{{produto.nome_p}}" />
	  				{% endif %}
	  				<div class="caption">
	  					<h3>{{produto.nome_p}}</h3>
	  					<p>Por R$ {{produto.preco_p}}</p>
	  				{% if produto.vender %}	
	  					<p><a href="" class="btn btn-success" role="button">Comprar</a>
	  					<a href="{{produto.slug}}" class="btn btn-default" role="button">Mais detalhes</a></p>	
	  				{% else %}
	  					 <p><a href="#" class="btn btn-success" role="button">Alugar</a>
	  					<a href="{{produto.slug}}" class="btn btn-default" role="button">Mais detalhes</a></p>	
	  				{%endif%}
	  					
	  				</div>
	  		    </div>
	  		    {% endfor %}

			</div>
		</div>
	</div>


{%endblock%}
