{% extends 'base.html' %}
{% block conteudo%}
<body>
	<div class="container-contact100">
		<div class="wrap-contact100">
			<span class="contact100-form-symbol">
				<img src="/static/icons/symbol-01.png" alt="SYMBOL-MAIL">
			</span>
			<h1>ENTRE EM CONTATO</h1>
				<form class="cf form">
  					<div class="half left cf">
    						<input type="text" id="input-name" placeholder="Nome Completo">
    						<input type="email" id="input-email" placeholder="E-mail">
    						<input type="text" id="input-subject" placeholder="Assunto">
  						</div>
  					<div class="half right cf">
    					<textarea name="message" type="text" id="input-message" placeholder="Mensagem"></textarea>
  				       </div>  
  				<input type="submit" value="Enviar" id="input-submit" class="button">
				</form>
			</div>
		</div>
	</div>
</body>
</html>


{%endblock%}