{% extends 'base.html' %}
{% block conteudo%}

<!-- Inicio Detalhes_Produto-->
    <div class="container">
		<div class="page-header">
		  <h1>{{produto.nome_p}}</h1>
		</div>
		<div class="row">
		  <div class="col-sm-4">
			  <a href="#" class="thumbnail">
				  <img src="{{produto.imagem.url}}" alt="produto.name_p" />
			  </a>
		  </div>
		  <div class="col-sm-8">
			  <dl>
			  	<dt>Lorem ipsum:</dt>
				<dd>Lorem ipsum dolor sit amet</dd>
				<dt>Lorem ipsum:</dt>
				<dd>Lorem ipsum dolor sit amet</dd>
				<dt>Lorem ipsum:</dt>
				<dd>Lorem ipsum dolor sit amet</dd>
				<dt>Lorem ipsum:</dt>
				<dd>Lorem ipsum dolor sit amet</dd>
				<dt>Lorem ipsum:</dt>
				<dd>Lorem ipsum dolor sit amet</dd>
			  </dl>
		  </div>
		</div>
	</div>

{%endblock%}