{% extends 'base.html' %}
{% block conteudo %}	
	<link rel="stylesheet" type="text/css" href="/static/css/login.css">
		
		<!--Inicio_Corpo-->	
		<section>

			<div class="login-page">
				<div class="form">
					<form class="login-form" action="" method="POST">	
						{% csrf_token %}
						{%if success %}
							<h1>Senha alterada com sucesso</h1>
						{%endif%}
						<p class="texto">Alterar Senha</p></br>
        				{{ form.non_field_errors }}
			        	{% for campo in form %}	
			        		{{ campo.label_tag }}
			        		{{ campo }}
			        		{{ campo.errors }}
			        	{% endfor %}
			        	
        				<input type="submit" name="editar" id="btn_entrar" value="Salvar modificacoes"/>
						
					</form>
				</div>
			</div>
			

		</section> 
		<!--Fim_Corpo-->
{% endblock %}					
