{% extends 'base.html' %}
{% block conteudo %}

		<!-- INICIO DO SLIDER -->		
	</br>

		<div style="padding:5px;">
			<div class="flexslider">
		 		<ul class="slides">
			 		<li><img src="static/images/images-banner/slide1.jpg" /></li>
			 		<li><img src="static/images/images-banner/slide2.jpg" /></li>
			 		<li><img src="static/images/images-banner/slide3.jpg" /></li>
			 	</ul>
			 </div>
		</div>	

		<!-- FIM DO SLIDER -->
		</br>

		<section class="banner_baixo_slider">
			<img src="static/images/banner_baixo_slider.jpg">
		</section>
		<!-- Fim - Banner abaixo slider -->

		<!-- Inicio - Banner novidades -->		
		<section class="banner_novidades">
			<div class="page-header">
				<h1>Novidades</h1>
			</div>

			<article class="banner_item_01">
				<img src="static/images/festa-mario.jpg"> 
			</article>
			
			<article class="banner_item_02"> 
				<img src="static/images/festa-homem_aranha.jpg">
			</article>
			
			<article class="banner_item_03"> 
				<img src="static/images/festa-moana.jpg">
			</article>

			<article class="banner_item_04"> 
				<img src="static/images/festa-carros.jpg">
			</article>
		</section>
		<!-- fim - Banner novidades -->	
	
	<section class="espacamento"></section> <!-- ESPAÇAMENTO -->
		<!-- FIM DO SLIDER -->

    <div class="container">
		<div class="page-header">
			<h1>Produtos</h1>
		</div>
		
		<div class="row">
			<div class="produtos">
				{%for produto in produtos%}
	  		    <div class="thumbnail">
	  				<a href="#">
	  				{% if produto.imagem %}	
	  					<img src="{{produto.imagem.url}}" alt="{{produto.nome_p}}" />
	  				</a>
	  				{% else %}
	  					<img src="static/images/produto-sem-imagem2.png" alt="{{produto.nome_p}}" />
	  				{% endif %}
	  				<div class="caption">
	  					<h3>{{produto.nome_p}}</h3>
	  					<p>Por R$ {{produto.preco_p}}</p>
	  				{% if produto.vender %}	
	  					<p><a href="#" class="btn btn-success" role="button">Comprar</a>
	  					<a href="#" class="btn btn-default" role="button">Mais detalhes</a></p>	
	  				{% else %}
	  					 <p><a href="#" class="btn btn-success" role="button">Alugar</a>
	  					<a href="#" class="btn btn-default" role="button">Mais detalhes</a></p>	
	  				{%endif%}
	  					
	  				</div>
	  		    </div>
	  		    {% endfor %}

			</div>
		</div>
	</div>
	

{%endblock%}
