{% extends 'base.html' %}
{% block conteudo %}

	<!-- INICIO DO SLIDER -->
		
	</br>
		<div id="first-slider">
    		<div id="carousel-example-generic" class="carousel slide carousel-fade">
		        <!-- Indicators -->
		        <ol class="carousel-indicators">
		            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
		            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
		            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
		            <li data-target="#carousel-example-generic" data-slide-to="3"></li>
		        </ol>
		        <!-- Wrapper for slides -->
	       		<div class="carousel-inner" role="listbox">
	            
	            <!-- Item 1 -->
	            <div class="item active slide1">
	                <div class="row"><div class="container">
	                    <div class="col-md-3 text-right">
	                        <img style="max-width: 200px;"  data-animation="animated zoomInLeft">
	                    </div>
	                    	<div class="col-md-9 text-left">
	                        <h3 data-animation="animated bounceInDown"><!--texto--></h3>
	                        <h4 data-animation="animated bounceInUp"><!--texto--></h4>             
	                     </div>
	                </div></div>
	             </div> 
	            
	            <!-- Item 2 -->
	            <div class="item slide2">
	                <div class="row"><div class="container">
	                    <div class="col-md-7 text-left">
	                        <h3 data-animation="animated bounceInDown"><!--texto--></h3>
	                        <h4 data-animation="animated bounceInUp"><!--texto--></h4>   
	                     </div>
	                    <div class="col-md-5 text-right">
	                        <img style="max-width: 200px;"  data-animation="animated zoomInLeft" >
	                    </div>
	                </div></div>
	            </div>
	            
	            <!-- Item 3 -->
	            <div class="item slide3">
	                <div class="row"><div class="container">
	                    <div class="col-md-7 text-left">
	                        <h3 data-animation="animated bounceInDown"><!--texto--></h3>
	                        <h4 data-animation="animated bounceInUp"><!--texto--></h4>   
	                     </div>
	                    <div class="col-md-5 text-right">
	                        <img style="max-width: 200px;"  data-animation="animated zoomInLeft" >
	                    </div>     
	                </div></div>
	            </div>
	            
	            <!-- Item 4 -->
	            <div class="item slide4">
	                <div class="row"><div class="container">
	                    <div class="col-md-7 text-left">
	                        <h3 data-animation="animated bounceInDown"><!--texto--></h3>
	                        <h4 data-animation="animated bounceInUp"><!--texto--></h4>   
	                     </div>
	                    <div class="col-md-5 text-right">
	                        <img style="max-width: 200px;"  data-animation="animated zoomInLeft" >
	                    </div>  
	                </div>
	            </div>
	            <!-- End Item 4 -->
	    
	       		</div>
		        <!-- End Wrapper for slides-->
		        <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
		            <i class="fa fa-angle-left"></i><span class="sr-only">Previous</span>
		        </a>
		        <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
		            <i class="fa fa-angle-right"></i><span class="sr-only">Next</span>
		        </a>
    		</div>
		</div>
		<!-- FIM DO SLIDER -->
		</br>

		<section class="banner_baixo_slider">
			<img src="static/images/banner_baixo_slider.jpg">
		</section>
		<!-- Fim - Banner abaixo slider -->

		<!-- Inicio - Banner novidades -->		
		<section class="banner_novidades">
			<div class="page-header">
				<h1>Novidades</h1>
			</div>

			<article class="banner_item_01">
				<img src="static/images/festa-mario.jpg"> 
			</article>
			
			<article class="banner_item_02"> 
				<img src="static/images/festa-homem_aranha.jpg">
			</article>
			
			<article class="banner_item_03"> 
				<img src="static/images/festa-moana.jpg">
			</article>

			<article class="banner_item_04"> 
				<img src="static/images/festa-carros.jpg">
			</article>
		</section>
		<!-- fim - Banner novidades -->	
	
	<section class="espacamento"></section> <!-- ESPAÇAMENTO -->
		<!-- FIM DO SLIDER -->

    <div class="container">
		<div class="page-header">
			<h1>Produtos</h1>
		</div>
		{%for produto in produtos%}
		<div class="row">
			<div class="col-sm-6 col-md-4">
	  		    <div class="thumbnail">
	  				<a href="#">
	  				{% if produto.imagem %}	
	  					<img src="{{produto.imagem.url}}" alt="{{produto.nome_p}}" />
	  				</a>
	  				{% else %}
	  					<img src="static/images/produto-sem-imagem2.png" alt="{{produto.nome_p}}" />
	  				{% endif %}
	  				<div class="caption">
	  					<h3>{{produto.nome_p}}</h3>
	  					<p>Por R$ {{produto.preco_p}}</p>
	  				{% if produto.vender %}	
	  					<p><a href="#" class="btn btn-success" role="button">Comprar</a>
	  					<a href="#" class="btn btn-default" role="button">Mais detalhes</a></p>	
	  				{% else %}
	  					 <p><a href="#" class="btn btn-success" role="button">Alugar</a>
	  					<a href="#" class="btn btn-default" role="button">Mais detalhes</a></p>	
	  				{%endif%}
	  					
	  				</div>
	  		    </div>
			</div>
		{% endfor %}
	{%endblock%}