{% extends 'base.html' %}
{% block conteudo%}

<!-- Inicio Login-->
<head>
<meta charset="utf-8">
<title>Si Lima Eventos</title>
<link rel="stylesheet" type="text/css" href="css/login.css"/>
</head>
<div class='body' align='center'>  
<h1> Acesse sua conta </h1>
  <div class="squad">
    <form class="usuario-form" action="" method="POST">
      <p class='squad'>Login</p></br>
          {{form.as_p}}
          {{% csrf_token %}}
        <input type="submit" name="entrar" class='button' value='Conectar'/>
      <p class='senha_mensagem'>Esqueceu a senha ?<!-- <a href="{% url 'editar_senha' %}"> -->Clique Aqui !</a></p>  
    </form>
  </div>
</div>
{%endblock%}