{% extends 'base.html' %}
{% block conteudo%}

<!-- Inicio Login-->
<head>
<meta charset="utf-8">

</head>
<div class='body' align='center'>  
<h1> Acesse sua conta </h1>
  <div class="squad">
    <form class="usuario-form squad" action="" method="POST">
      <p></p></br>
          {{form.as_p}}
          {% csrf_token %}
        <input type="submit" name="entrar" class='button' value='Entrar'/>
      <p class='senha_mensagem'>Esqueceu a senha ?Clique Aqui !</a></p>  
    </form>
  </div>
</div>
{%endblock%}