{% extends 'base.html' %}
{% block conteudo%}

<!-- Inicio Login-->
<head>
<meta charset="utf-8">

</head>
		<div class='body' align='center'>  
				<h1> Acesse sua conta </h1>
		</div>

 <div class="login-wrap">
	<div class="login-html">
		<input id="tab-1" type="radio" name="tab" class="sign-in" checked><label for="tab-1" class="tab">Entrar</label>
		<input id="tab-2" type="radio" name="tab" class="sign-up"><label for="tab-2" class="tab"></label>
		<div class="login-form" action="" method="POST">
			<div class="sign-in-htm">
				<form class="group"  action="" method="POST">
					{% csrf_token %}
					{{ form.as_p}}	
					<button type="submit" class="button group" value="Enviar"> Entrar</button>
				</form>
				
				<div class="hr"></div>
				<div class="foot-lnk">
					<a href="#">Esqueceu sua senha ? Clique aqui!</a>

				</div>
			</div>


			</div>
		</div>
	</div>
</div>


{%endblock%}