*{
 box-sizing: border-box;
}
a:link 
{ 
text-decoration:none;
text-align: center;
font-family: calibri black;
color:  black;
font-size: 20px;
display: relative;
} 


.header{
  top:0;
  left: 0;
  text-align: middle;
  
}
.center {
  margin: auto;
  border: 3px solid #ff6e00;
  
}

.image{
  content:url(../../images/topo/logo_silima.png);
  margin: auto;
  width: 125px;
  height: 60px;
  align-content: center;
  
}
.image1{
  content:url(../../images/topo/menu.png);
  margin: auto;
  width: 70px;
  height: 55px;
  align-content: center;

}
.image2{
  content:url(../../images/topo/empresa.png);
  margin: auto;
  width: 70px;
  height: 55px;
}
.image3{
  content:url(../../images/topo/produtos.png);
  margin: auto;
  width: 65px;
  height: 60px;
}
.image4{
  content:url(../../images/topo/pacotes.png);
  margin: auto;
  width: 65px;
  height: 60px;
}
.image5{
  content:url(../../images/topo/alugue.png);
  margin: auto;
  width: 65px;
  height: 60px;
}
.image6{
  content:url(../../images/topo/carrinho.png);
  margin: auto;
  width: 65px;
  height: 60px;
}
.image7{
  content:url(../../images/topo/login.png);
  margin: auto;
  width: 65px;
  height: 60px;
}
.box {
  background-color: #ff6e00;
  color: #fff;
  border-radius: 1px;
  padding: 12px;
  font-size: 100%;
}

.box:nth-child(even) {
  background-color:#ff6e00;
  color: #000;
}

    .wrapper {
        width: 100%;
        display: grid;
    grid-gap:1px;
        grid-template-columns: repeat(8, 12.45%);
    }


@media screen and (max-width: 1000px){
      .header{
        position: fixed;
        top:0;
        left: 0;
        
      }
      .center {
        margin: auto;
        border: 3px solid #ff6e00;
        
      }
      body {
        margin: 40px;
      }
      .image{
        content:url(../img/si-lt.png);
        margin: auto;
        width: 80px;
        height: 60px;
        align-content: center;
      
        
      }
      .image1{
        content:url(../img/menu.png);
        margin: auto;
        width: 70px;
        height: 55px;
        align-content: center;
      }

      .image2{
        content:url(../img/empresa.png);
        margin: auto;
        width: 65px;
        height: 60px;
      }
      .image3{
        content:url(../img/produtos.png);
        margin: auto;
        width: 65px;
        height: 60px;
      }
      .image4{
        content:url(../img/pacotes.png);
        margin: auto;
        width: 65px;
        height: 60px;
      }
      .image5{
        content:url(../img/alugue.png);
        margin: auto;
        width: 65px;
        height: 60px;
      }
      .image6{
        content:url(../img/carrinho.png);
        margin: auto;
        width: 65px;
        height: 60px;
      }
      .image7{
        content:url(../img/login.png);
        margin: auto;
        width: 65px;
        height: 60px;
      }
      .box {
        background-color: #ff6e00;
        color: #fff;
        border-radius: 2px;
        padding: 12px;
        font-size: 100%;
      }
      
      .box:nth-child(even) {
        background-color: #ff6e00;
        color: #000;
      }
      
          .wrapper {
              width: 100%;
              display: grid;
              grid-gap:1px;
              grid-template-columns: repeat(8, 12.45%);
              z-index: 99999999;
          }
      