/*INICIO - MAIN*/

/*Banner abaixo do slider*/
.banner_baixo_slider{
	width: 100%;
	height: 100px;
	text-align: center;
}

/* Inicio - Banner novidades*/
.banner_novidades{
	display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 150px 200px;
    width: 100%;
    position: relative;
    top: -47px;
    color: #f39c12;

}


.banner_item_01{
	grid-row: 2;
	grid-column-start: 1; 
    grid-column-end: 1;
}
.banner_item_02{
	grid-row: 2;
	grid-column-start: 2; 
    grid-column-end: 2;
}
.banner_item_03{
	grid-row: 2;
	grid-column-start: 3; 
    grid-column-end: 3;
}

.banner_item_04{
	grid-row: 2;
	grid-column-start: 4; 
    grid-column-end: 4;
}
/* Fim - Banner novidades*/


/* Inicio - lista produtos*/


.centralizar_elemento {
	height: 100%;
	display: -webkit-flex;
	display: flex;
	-webkit-align-items: center;
	align-items: center;
	-webkit-justify-content: center;
	justify-content: center;
}


/*FIM - MAIN*/