
/*Rodapé*/

.menu-rodape{
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto auto auto;
  grid-template-rows: 100%;
  text-align: center;
  list-style: none;  
  color: #fff;
  padding-bottom: 35px;
  padding-top: 25px;
}

.style_circulo{
  border-radius: 100%;
  background: #d02424;
  width: 90px;
  height: 90px;
  margin: auto;
  padding: 15px;
}

.texto{
    right: 19px;
    color: #d02424;
    width: 100px;
    position: relative;
    top: 20px;
    text-decoration: none;
}

.style_circulo:hover{
  box-shadow: 2px 2px 2px 2px #00000073;
    transition: 0.1s;
    opacity: 0.8;
}


.menu_rodape li a {
  text-decoration: none;
  list-style: none;
  text-align: center;
}


.sobre_silima{
  grid-row: 1;
  grid-column-start: 2; 
  grid-column-end: 2;
}


.calculadora{
  grid-row: 1;
  grid-column-start: 3; 
  grid-column-end: 3;
}

.festa{
  grid-row: 1;
  grid-column-start: 4; 
  grid-column-end: 4;
}

.servico{
  grid-row: 1;
  grid-column-start: 5; 
  grid-column-end: 5;
}

.nossas-dicas{
  grid-row: 1;
  grid-column-start: 6; 
  grid-column-end: 6;
}

.fale-conosco{
  grid-row: 1;
  grid-column-start: 7; 
  grid-column-end: 7;
}

.contato{
  grid-row: 1;
  grid-column-start: 8; 
  grid-column-end: 8;
}






/*Arabesco Botton_______________________________________________________________________________________________________________________*/

.arabesco{
  display: grid;
  grid-template-columns:100%;
  grid-template-rows: auto;
}

.arabesco img{
  height: 45px;
  padding-bottom: 10px;
  margin: auto;
  text-align: center;
  grid-row:1;
  grid-column-start: 1;
  grid-column-end: 1;

}

.arabesco_top{
  display: grid;
  grid-template-columns:100%;
  grid-template-rows: auto;
}

/*PALAVRA OBRIGADO_______________________________________________________________________________________________________________________*/

.obrigado{
  display: grid;
  grid-template-columns:100%;
  grid-template-rows: auto;
}

.obrigado p{
  padding-bottom: 30px;
  padding-top: 20px; 
  width: auto;
  font-family: ComicSansMS;
  font-size: 20px;
  color: #c4161c;
  text-align: center;
  align-content: center;
  margin: auto;
  grid-row:1;
  grid-column-start: 1;
  grid-column-end: 1;

}


/*Formas de Pagamento_______________________________________________________________________________________________________________________*/

.pagamento{
  display: grid;
  grid-template-columns:100%;
  grid-template-rows: auto;
}

.pagamento p{
  text-align: center;
  font-family: FuturaBT;
  font-size: 15px;
  color: #c4161c;
  font-weight: bold;
  grid-row:1;
  grid-column-start: 1;
  grid-column-end: 1;
}

.pagamento img{
  height: 50px;
  padding-bottom: 10px;
  margin: auto;
  text-align: center;
  grid-row:1;
  grid-column-start: 1;
  grid-column-end: 1;

}




/*______________________________ menu_usuário - Responsivo_______________________________________*/

/* iPads (restrato e paisagem) */
@media only screen and (max-width :1200px) {

  .menu-rodape{
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: 50% 50%;

  }

 .arabesco img {
    height: 30px;
  } 

.sobre_silima{
  grid-row: 1;
  grid-column-start: 1; 
  grid-column-end: 1;
}


.calculadora{
  grid-row: 1;
  grid-column-start: 2; 
  grid-column-end: 2;
}

.festa{
  grid-row: 1;
  grid-column-start: 3; 
  grid-column-end: 3;
}

.servico{
  grid-row: 1;
  grid-column-start: 4; 
  grid-column-end: 4;
}

.nossas-dicas{
  grid-row: 2;
  grid-column-start: 1; 
  grid-column-end: 1;
}

.fale-conosco{
  grid-row: 2;
  grid-column-start: 2; 
  grid-column-end: 2;
}

.contato{
  grid-row: 2;
  grid-column-start: 3; 
  grid-column-end: 3;
}

.texto {
    left: 75px;
    top: 12px;
    color: #d02424;
    width: 100%;
    position: relative;
    top: -40px;
    text-decoration: none;
}

}

/*______________________________ menu_usuário - Responsivo_______________________________________*/

/* iPads (restrato e paisagem) */
@media only screen and (max-width :580px) {

  .menu-rodape{
    display: grid;
    grid-template-columns: auto auto ;
    grid-template-rows: 25% 25% 25% 25%;

  }
  .arabesco img {
    height: 20px;
  } 


.sobre_silima{
  grid-row: 1;
  grid-column-start: 1; 
  grid-column-end: 1;
}


.calculadora{
  grid-row: 1;
  grid-column-start: 2; 
  grid-column-end: 2;
}

.festa{
  grid-row: 2;
  grid-column-start: 1; 
  grid-column-end: 1;
}

.servico{
  grid-row: 2;
  grid-column-start: 2; 
  grid-column-end: 2;
}

.nossas-dicas{
  grid-row: 3;
  grid-column-start: 1; 
  grid-column-end: 1;
}

.fale-conosco{
  grid-row: 3;
  grid-column-start: 2; 
  grid-column-end: 2;
}

.contato{
  grid-row: 4;
  grid-column-start: 1; 
  grid-column-end: 1;
}

}



